@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dela+Gothic+One&display=swap');
/* Import carousel styles */
@import 'react-responsive-carousel/lib/styles/carousel.min.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 0;
}

:root
{
    background-color: '#f1faee';
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dela-gothic-one-regular {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .glow-effect {
    text-shadow: 0 0 3px rgba(202, 240, 248, 0.3), 
                 0 0 6px rgba(202, 240, 248, 0.2), 
                 0 0 9px rgba(202, 240, 248, 0.1);
  }
  .trans
  {
    pointer-events: none; /* Allow the cursor to interact with the background */
      mask: radial-gradient(circle 100px at 50% 50%, transparent 100px, black 101px); /* Start with a centered circle */
      -webkit-mask: radial-gradient(circle 100px at 50% 50%, transparent 100px, black 101px); /* For Safari */
      transition: mask-position 0.1s ease-out; /* Smooth transition for the circle */
  }